// colors
$primary: #54AC9B;
$primary-light: #E9F1F0;
$primary-background: #F6FAFA;
$secondary: #FF9400;
$black: #0D0D0D;
$gray: #999999;
$gray-light: #CBCBCB;
$gray-border: #ebebeb;

// borders
$radius: 9px;

// shadows
$shadow-primary: 0px 1px 95px -33px rgba(84, 172, 155, 0.46);

// font sizes
$h3: 22px;
$notification: 14px;

// opacities
$layout-opacity: 0.6;